/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	max-width: 100%;
}
/*entire page*/
.container {
	/* margin: auto; 
	width: 95%;  */

	width: 900px;
	margin: auto;
	margin-left: 20%;
	margin-right: 20%;
	border: 1px solid black;
	display: inline-block; 
	
}

/*navigation bar with logo*/
header nav{
 width: 79%; 
 display: inline-block;
}

/*navigation bar*/
header nav a{
margin:0 3%; 
color:gray; 
text-decoration: none;

}
/*Great idea logo*/
.logo{
	margin-top: 20px;
}


/* entire middle section of page*/
.main-content{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 5% 0;
}

.main-content .text-content{
	display:inline-block;
}

/* not to be confused with bottom content text-content*/ 

.text-content div{
	width: 46%; 
	display:inline-block;
	margin-left: 1%;
	line-height: 20px; 
}

/* coding img in middle section*/
.middle-img{
	width: 100%; 
}
	
/*bottom content of the middle section*/
.bottom-content .text-content div{
	display: inline-block;
	width: 30%;
	line-height: 20px;
	margin: 50px 0;
	margin-left: 1%;
	
}

.call2act{
	padding:4%; 
}

/* innovation on demand text and image*/
.cta{
	width:50%;
	margin: auto;
	margin-right: 40px;
	margin-bottom: 15px;
	padding-top: 15px;
	display:inline-block;
	text-align:center;
}

/* innovation on demand, get started, and coding circle img*/
.cta-text{
	font-size: 60px; 
	padding-top: 50px; 
}

/* get started button*/
button {
	width: 180px;
	height: 35px;
	margin-left: 120px;
	border: 1px solid black; 
	font-size: 1em;
	text-align:center;
	font-family: 'Titillium Web', sans-serif; 
	display: block;
}
/* Animation effect on button hover */

button:hover{
	background-color:cyan;
	animation-name: Colors; 
	animation-duration: 12s; 
	animation-iteration-count: infinite; 
}

@keyframes Colors{
	0% {color: lightgreen; background-color:grey;}
	16% {color: lightyellow; background-color:cyan;}
	32% {color: yellow;background-color:darkcyan;}
	48% {color: palevioletred; background-color:mediumspringgreen;}
	64% {color:royalblue ; background-color:lightseagreen;}
	80% {color:limegreen ; background-color:lightskyblue;}
	100% {color: orange; background-color:cornflowerblue;}


}

.cta-img{
	width: 34%;
	float: right; 
	margin-right: 20px; 
	margin-bottom: 10px; 
}

/* adds padding between the contact info and bottom content*/
.contact-info{
	padding: 5% 0;
}
/* adds padding between contact info */
.contact-info p{
	padding: 10px 0;
}
/* copy right info*/
footer{
	text-align: center;
	padding-bottom: 20px; 
}






















/*incase header messes up 

header{
	display: inline-block;
	width: 100%;
}

*/