/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	max-width: 100%;
}
/*entire page*/
.container {
	margin: auto; 
	width: 95%; 
	
}

/*navigation bar with logo*/
header nav{
 width: 80%; 
 display: inline-block;
}

/*navigation bar*/
header nav a{
margin:0 5%; 
color:gray; 
text-decoration: none;

}
/*Great idea logo*/
.logo{
	border:1px solid red;
	margin-top: 20px;
}
/* innovation on demand text and image*/
.cta{
	display: inline-block; 
	border: 1px solid red; 
	width: 50%;
}
/* entire middle section of page*/
.main-content{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 5% 0;
}

/* top content of the middle section*/
.top-content .text-content div{
	/*border-top: 2px solid black;
	padding-top: 5%;*/
	display: inline-block;
	width: 45%;
	margin-top: 50px;
	margin-bottom: 50px; 
}
	
/*bottom content of the middle section*/
.bottom-content .text-content div{
	/*border-bottom: 2px solid black;
	padding-bottom: 5%; */
	display: inline-block;
	width: 33%;
	line-height: 20px;
	margin: 50px 0;
	
}

.cta-text div{
	display: inline-block;
	width: 50%;

}

 .cta-text p{
	border: 2px solid black;
	padding: 10px 15px;
	display: inline;
}

.contact-info{
	padding: 5% 0;
}

.contact-info p{
	padding: 10px 0;
}

footer{
	text-align: center;
	padding-bottom: 200px; 
}




















/*incase header messes up 

header{
	display: inline-block;
	width: 100%;
}

*/